// Modifiers :: Inline

// Dependencies
@import "pack/seed-breakpoints/_index";
@import "pack/seed-spacing/functions/spacing";

&--inline {
  @include breakpoint-all {
    .#{$seed-list-item-namespace},
    > li {
      display: inline-block;
      padding-left: spacing(1);

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
