// List :: Config

// Dependencies
@import "pack/seed-spacing/functions/spacing";

// Namespaces
$seed-list-namespace: "c-list" !default;
$seed-list-item-namespace: #{$seed-list-namespace}__item !default;
$seed-list-bordered-namespace: bordered !default;
$seed-list-block-namespace: block !default;
$seed-list-bullet-namespace: bullet !default;
$seed-list-dotted-namespace: dotted !default;
$seed-list-inline-namespace: inline !default;
$seed-list-number-namespace: number !default;

// Sizes
$seed-list-size-default: spacing(1) !default;
$seed-list-offset-left: 12px !default;

$seed-list-sizes: (
  xs: 0,
  sm: ceil(spacing(1) / 2),
  md: $seed-list-size-default,
  lg: spacing(2),
  xl: spacing(4)
) !default;
