// List :: Config

// Dependencies
@import "pack/seed-spacing/functions/spacing";

// Namespaces
$seed-list-namespace: "c-list" !default;
$seed-list-item-namespace: #{$seed-list-namespace}__item !default;

// Sizes
$seed-list-size-default: spacing(1) !default;

$seed-list-sizes: (
  xs: 0,
  sm: ceil(spacing(1) / 2),
  md: $seed-list-size-default,
  lg: spacing(2),
  xl: spacing(4)
) !default;
